* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.header_main .myheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

#mylist {
  background: rgb(246, 246, 246);
  margin-top: 5%;
}

.main_page {
  width: 100%;
  display: inline-block;
}

.header_main {
  width: 100%;
  background: white;
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
}

.left_logo_header {
  cursor: pointer;
}

.left_logo_header img {
  max-width: 130px;
}

.search_header {
  position: relative;
  width: 43%;
  margin: 0 15px;
}

.search_header img {
  width: 13px;
  position: absolute;
  top: 11px;
  left: 16px;

}

.search_header input::placeholder {
  font-size: 12px;
}

.search_header input {
  width: 100%;
  background: rgb(233, 233, 233);
  border-radius: 40px;
  color: black;
  padding: 10px 10px;
  padding-left: 50px;
  border: none;
}

.search_header input::placeholder {
  color: black;

}
.close_icon_search_section img{
 width: 10px;
}
.close_icon_search_section{
  position: absolute;
    top: 1px;
    right: 44px;
    cursor: pointer;
}

.main_post_content_section {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  clear: both;
}

.inner_main_post_content_section {
  background: white;
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
  float: left;
  box-shadow: 0px 0px 5px 1px lightgray;
}

.post_header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_section_post {
  float: left;
  padding: 5px;
  cursor: pointer;
}

.left_section_post img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  float: left;
}

.main_profail_content {
  display: flex;
  align-items: center;
}

.text_image_contemt_section img {
  border-radius: 40px;
  background-color: blueviolet;
  width: 16px;
  height: 17px;
  margin-left: 3px;
  padding: 3px;
}

.text_image_contemt_section p {
  font-size: 16px;
  margin-left: 3px;
  cursor: pointer;
}

.inner_heder_post_section {
  width: 100%;
  padding: 15px;
  margin: auto;
  overflow: hidden;
  clear: both;
}

.text_image_contemt_section h1 {
  font-size: 20px;
}

.text_image_contemt_section span {
  color: #8a2be2;
  font-size: 20px;
}

.right_section_post img {
  width: 25px;
  cursor: pointer;
}

.post_image_section_content {
  width: 100%;
  clear: both;
  overflow: hidden;
  text-align: center;
}

.post_image_section_content img {
  padding: 9px 0;
  width: 100%;
  height: 500pxc;
  height: 516px;
  object-fit: contain;
}

.right_icon_header img {
  width: 22px;
  margin-right: 25px;
  padding-top: 10px;
  cursor: pointer;
}

.right_icon_header {
  float: right;
}

.bottom_post_section_content {
  width: 100%;
  display: flex;
}

.like_section_post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.like_section_post img {
  width: 20px;
  cursor: pointer;
}

.like_section_post p {
  margin-left: 7px;
  margin-right: 7px;
  color: black;
}

.comments_section_post img {
  width: 20px;
  cursor: pointer;
}

.comments_section_post {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments_section_post p {
  margin-left: 7px;
  margin-right: 7px;
  color: black;
}


.right_content_section_botton_post {
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center;
}

.right_section_top_tip_dollar img {
  width: 18px;
  background: white;
  border-radius: 50px;
  margin-right: 6px;
  margin-left: 3px;
}

.right_section_top_tip p {
  color: white;
  font-size: 15px;
}

.right_section_top_tip {
  background-color: #8a2be2;
  border-radius: 40px;
  padding: 8px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.save_right_section_post_bottom_section img {
  width: 25px;
  margin-top: 5px;

}

.right_section_top_tip_dollar {
  display: flex;
  text-align: center;
  align-items: center;
}

.save_right_section_post_bottom_section {
  margin-left: 10px;
  cursor: pointer;
}

.search_page_bottom_section {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.search_page_bottom_section .wrapper {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

.search_post_page_section {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.inner_secrch_post_page {
  display: flex;
  flex-wrap: wrap;
}

.post_image_page_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search_post_page_section img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}